/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        m1: m1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_1 &kp NUMBER_9 &kp NUMBER_9 &kp NUMBER_1>;
            label = "M1";
        };

        phone: phone {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_1 &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_5 &kp NUMBER_8 &kp NUMBER_5 &kp NUMBER_8 &kp NUMBER_3 &kp NUMBER_9 &kp NUMBER_8 &kp NUMBER_0>;
            label = "phone";
        };

        qq1: qq1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_1 &kp NUMBER_5 &kp NUMBER_6 &kp NUMBER_6 &kp NUMBER_0 &kp NUMBER_7 &kp NUMBER_6 &kp NUMBER_0>;
            label = "qq1";
        };

        qq2: qq2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_2 &kp NUMBER_0 &kp NUMBER_7 &kp NUMBER_0 &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_0 &kp NUMBER_3 &kp NUMBER_6>;
            label = "qq2";
        };

        delete: delete {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(DELETE)>;
            label = "delete";
        };

        qq3: qq3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_9 &kp NUMBER_7 &kp NUMBER_9 &kp NUMBER_1 &kp NUMBER_9 &kp NUMBER_0 &kp NUMBER_5 &kp NUMBER_1 &kp NUMBER_0>;
            label = "QQ3";
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESC         &kp Q  &kp W  &kp E      &kp R         &kp T     &kp Y      &kp U        &kp I        &kp O    &kp P      &kp BSPC
&kp LEFT_SHIFT  &kp A  &kp S  &kp D      &kp F         &kp G     &kp H      &kp J        &kp K        &kp L    &kp SEMI   &kp SQT
&kp CAPS        &kp Z  &kp X  &kp C      &kp V         &kp B     &kp N      &kp M        &kp COMMA    &kp DOT  &kp SLASH  &kp RWIN
                              &kp LCTRL  &kp NUMBER_4  &tog 1    &lt 2 TAB  &lt 3 SPACE  &lt 4 ENTER
            >;
        };

        n_1 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp ESCAPE      &kp F1        &kp LC(S)     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LC(Y)       &kp KP_EQUAL  &kp KP_PLUS   &kp KP_MINUS  &kp KP_MULTIPLY  &kp KP_DIVIDE  &kp BSPC
&kp LEFT_SHIFT  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3          &kp NUMBER_4           &kp NUMBER_5    &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9     &kp NUMBER_0   &kp PERCENT
&delete         &kp LC(Z)     &kp LC(F1)    &kp LC(LS(F3))        &kp LA(NUMBER_2)       &kp LEFT_ALT    &kp DOLLAR    &none         &kp COMMA     &kp PERIOD       &to 0          &none
                                            &trans                &kp DELETE             &trans          &trans        &tog 3        &kp ENTER
            >;
        };

        F_2 {
            bindings = <
&kp ESC  &kp F1  &kp F2   &kp F3   &kp F4   &none              &none   &none     &none        &none           &none      &trans
&trans   &kp F5  &kp F6   &kp F7   &kp F8   &kp PRINTSCREEN    &none   &kp HOME  &kp PAGE_UP  &kp PAGE_DOWN   &kp END    &none
&trans   &kp F9  &kp F10  &kp F11  &kp F12  &kp LEFT_ALT       &none   &kp LEFT  &kp UP       &kp DOWN_ARROW  &kp RIGHT  &none
                          &trans   &trans   &trans             &trans  &trans    &trans
            >;
        };

        S_4 {
            bindings = <
&none   &kp PLUS     &kp MINUS       &kp ASTERISK     &kp SLASH             &kp EQUAL        &none       &none           &kp F3            &kp RC(L)          &none      &kp BACKSPACE
&trans  &kp AT_SIGN  &kp HASH        &kp AMPERSAND    &kp NON_US_BACKSLASH  &kp TILDE        &none       &kp CARET       &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp GRAVE  &kp PERCENT
&trans  &kp PIPE     &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LC(LA(X))         &kp LC(GRAVE)    &kp DOLLAR  &kp UNDERSCORE  &kp LESS_THAN     &kp GREATER_THAN   &to 0      &none
                                     &trans           &kp N5                &tog 1           &trans      &trans          &trans
            >;
        };

        M_3 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&bt BT_CLR  &none  &none  &none   &none   &none     &none   &bt BT_SEL 0  &bt BT_SEL 1     &bt BT_SEL 2   &bt BT_SEL 3  &trans
&bt BT_NXT  &qq1   &qq2   &qq3    &phone  &none     &none   &none         &kp LS(ENTER)    &kp LC(ENTER)  &m1           &none
&none       &none  &none  &none   &none   &trans    &none   &none         &kp C_VOLUME_UP  &kp C_VOL_DN   &none         &kp RG(I)
                          &trans  &trans  &none     &trans  &trans        &trans
            >;
        };
    };
};
