/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        m1: m1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_1 &kp NUMBER_9 &kp NUMBER_9 &kp NUMBER_1>;
            label = "M1";
        };

        phone: phone {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_1 &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_5 &kp NUMBER_8 &kp NUMBER_5 &kp NUMBER_8 &kp NUMBER_3 &kp NUMBER_9 &kp NUMBER_8 &kp NUMBER_0>;
            label = "phone";
        };

        qq1: qq1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_1 &kp NUMBER_5 &kp NUMBER_6 &kp NUMBER_6 &kp NUMBER_0 &kp NUMBER_7 &kp NUMBER_6 &kp NUMBER_0>;
            label = "qq1";
        };

        qq2: qq2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_2 &kp NUMBER_0 &kp NUMBER_7 &kp NUMBER_0 &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_0 &kp NUMBER_3 &kp NUMBER_6>;
            label = "qq2";
        };

        delete: delete {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(DELETE)>, <&macro_press>;

            label = "delete";
        };

        qq3: qq3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_9 &kp NUMBER_7 &kp NUMBER_9 &kp NUMBER_1 &kp NUMBER_9 &kp NUMBER_0 &kp NUMBER_5 &kp NUMBER_1 &kp NUMBER_0>;
            label = "QQ3";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESC         &kp Q  &kp W  &kp E      &kp R         &kp T     &kp Y      &kp U      &kp I        &kp O    &kp P      &kp BSPC
&kp CAPSLOCK    &kp A  &kp S  &kp D      &kp F         &kp G     &kp H      &kp J      &kp K        &kp L    &kp SEMI   &kp SQT
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C      &kp V         &kp B     &kp N      &kp M      &kp COMMA    &kp DOT  &kp SLASH  &kp RWIN
                              &kp LCTRL  &kp NUMBER_4  &tog 1    &lt 2 TAB  &kp SPACE  &lt 3 ENTER
            >;
        };

        n_1 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp ESCAPE  &kp LC(A)     &kp LC(S)     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LC(Y)       &kp KP_PLUS     &kp KP_MINUS  &kp KP_ASTERISK  &kp KP_SLASH  &kp EQUAL     &kp BSPC
&delete     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3          &kp NUMBER_4           &kp NUMBER_5    &kp NUMBER_6    &kp NUMBER_7  &kp NUMBER_8     &kp NUMBER_9  &kp NUMBER_0  &kp PERCENT
&trans      &kp LC(Z)     &kp LC(X)     &kp LC(C)             &kp LC(V)              &kp LEFT_ALT    &kp LS(DOLLAR)  &trans        &trans           &trans        &trans        &none
                                        &trans                &kp DELETE             &trans          &trans          &trans        &trans
            >;
        };

        F_2 {
            bindings = <
&kp ESC       &kp F1  &kp F2      &kp F3          &kp F4            &kp F5          &kp F6   &kp F7    &kp F8       &kp F9          &kp F10    &trans
&kp CAPSLOCK  &kp F1  &kp LC(F1)  &kp LC(LS(F3))  &kp LA(NUMBER_2)  &none           &kp F11  &kp HOME  &kp PAGE_UP  &kp PAGE_DOWN   &kp END    &none
&trans        &none   &none       &kp LC(LA(X))   &kp LC(GRAVE)     &kp LEFT_ALT    &kp F12  &kp LEFT  &kp UP       &kp DOWN_ARROW  &kp RIGHT  &none
                                  &trans          &trans            &trans          &none    &trans    &trans
            >;
        };

        M_3 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&bt BT_CLR    &bt BT_SEL 0  &kp TILDE      &kp LC(L)      &qq1        &qq2            &kp GRAVE  &kp C_VOLUME_UP    &kp LEFT_BRACE  &kp RIGHT_BRACE  &none  &kp BSPC
&bt BT_NXT    &kp AT_SIGN   &kp HASH       &kp AMPERSAND  &kp DOLLAR  &kp ASTRK       &kp MINUS  &kp C_VOLUME_DOWN  &kp LBKT        &kp RBKT         &qq3   &kp PRINTSCREEN
&bt BT_SEL 1  &kp PIPE      &kp BACKSLASH  &none          &none       &kp LEFT_ALT    &kp UNDER  &kp LS(ENTER)      &kp LC(ENTER)   &phone           &m1    &kp RIGHT_WIN
                                           &trans         &kp N5      &kp DELETE      &trans     &trans             &none
            >;
        };
    };
};
