/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        m1: m1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_1 &kp NUMBER_9 &kp NUMBER_9 &kp NUMBER_1>;
            label = "M1";
        };

        qq1: qq1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_1 &kp NUMBER_5 &kp NUMBER_6 &kp NUMBER_6 &kp NUMBER_0 &kp NUMBER_7 &kp NUMBER_6 &kp NUMBER_0>;
            label = "qq1";
        };

        qq2: qq2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_2 &kp NUMBER_0 &kp NUMBER_7 &kp NUMBER_0 &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_0 &kp NUMBER_3 &kp NUMBER_6>;
            label = "qq2";
        };

        qq3: qq3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_9 &kp NUMBER_7 &kp NUMBER_9 &kp NUMBER_1 &kp NUMBER_9 &kp NUMBER_0 &kp NUMBER_5 &kp NUMBER_1 &kp NUMBER_0>;
            label = "qq3";
        };

        bq: bq1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp SLASH &kp B &kp Q>;
            label = "BQ1";
        };

        sj: bq2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp SLASH &kp S &kp J>;
            label = "BQ2";
        };

        bqdw: bq3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp SLASH &kp B &kp Q &kp D &kp W>;
            label = "BQ3";
        };

        zw: bq4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp SLASH &kp Z &kp W>;
            label = "BQ4";
        };

        yd: bq5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp SLASH &kp Y &kp D>;
            label = "BQ5";
        };

        ax: bq6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp SLASH &kp A &kp X>;
            label = "BQ6";
        };

        ys: bq7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp SLASH &kp Y &kp S>;
            label = "BQ7";
        };

        ts: bq8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp SLASH &kp T &kp S>;
            label = "BQ8";
        };

        jt: bq9 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp SLASH &kp J &kp T>;
            label = "BQ9";
        };

        ph: ph {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N1 &kp N7 &kp N8 &kp N5 &kp N8 &kp N5 &kp N8 &kp N3 &kp N9 &kp N8 &kp N0>;
            label = "PH";
        };

        dui: dui {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp SLASH &kp D &kp U &kp I>;
            label = "DUI";
        };

        cuo: cuo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp SLASH &kp C &kp U &kp O>;
            label = "CUO";
        };

        dw: dw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp SLASH &kp D &kp W>;
            label = "DW";
        };

        sx: sx {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp SLASH &kp S &kp X>;
            label = "SX";
        };

        yss: yss {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp Y &kp S &kp S &kp SPACE>;
            label = "YSS";
        };

        qq: qq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp Q &kp Q &kp SPACE>;
            label = "QQ";
        };

        zj: zj {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp Z &kp J &kp SPACE>;
            label = "ZJ";
        };

        yx: yx {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp Y &kp X &kp SPACE>;
            label = "YX";
        };

        ym: ym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp Y &kp M &kp SPACE>;
            label = "YM";
        };

        yjk: yjk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp Y &kp J &kp K &kp SPACE>;
            label = "YJK";
        };

        mouse: mouse {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp M &kp O &kp U &kp S &kp E &kp SPACE>;
            label = "MOUSE";
        };

        mb: mb {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp M &kp B &kp SPACE>;
            label = "MB";
        };

        wf: wf {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp W &kp F &kp SPACE>;
            label = "WF";
        };

        zq: zq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp Z &kp Q &kp SPACE>;
            label = "ZQ";
        };

        fs: fs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp F &kp S &kp SPACE>;
            label = "FS";
        };

        as: as {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp A &kp S &kp SPACE>;
            label = "AS";
        };

        of: of {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp O &kp F &kp SPACE>;
            label = "OF";
        };

        sf: sf {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp S &kp F &kp SPACE>;
            label = "SF";
        };

        wo: wo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp W &kp O &kp SPACE>;
            label = "WO";
        };

        ex: ex {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp E &kp X &kp SPACE>;
            label = "EX";
        };

        po: po {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp P &kp O &kp SPACE>;
            label = "PO";
        };

        AHK: AHK {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp A &kp H &kp SPACE>;
            label = "AHK";
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESC         &kp Q  &kp W  &kp E      &kp R         &kp T        &kp Y      &kp U        &kp I        &kp O    &kp P      &kp BSPC
&kp N5          &kp A  &kp S  &kp D      &kp F         &kp G        &kp H      &kp J        &kp K        &kp L    &kp SEMI   &kp SQT
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C      &kp V         &kp B        &kp N      &kp M        &kp COMMA    &kp DOT  &kp SLASH  &kp RWIN
                              &kp LCTRL  &kp NUMBER_4  &lt 1 DEL    &lt 2 TAB  &lt 3 SPACE  &lt 4 ENTER
            >;
        };

        n_1 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&none       &AHK              &kp LC(UP_ARROW)      &kp LC(DOWN)      &kp LC(LA(DEL))   &kp LG(E)        &none          &kp N1     &kp N2     &kp N3      &kp N4  &kp BSPC
&kp CAPS    &kp KP_PLUS       &kp KP_MINUS          &kp KP_MULTIPLY   &kp KP_SLASH      &kp EQUAL        &kp DOLLAR     &kp N5     &kp N6     &kp N7      &kp N8  &kp PERCENT
&kp LC(F8)  &kp LC(NUMBER_1)  &kp LC(LA(NUMBER_1))  &kp LC(NUMBER_2)  &kp LA(NUMBER_2)  &kp LC(LA(X))    &kp RIGHT_ALT  &kp N9     &kp COMMA  &kp PERIOD  &kp N0  &none
                                                    &none             &none             &none            &trans         &kp RCTRL  &kp ENTER
            >;
        };

        F_2 {
            bindings = <
&none  &kp F1  &kp F2   &kp F3     &kp F4   &kp PSCRN    &none          &qq1   &qq2   &qq3    &ph    &none
&none  &kp F5  &kp F6   &kp F7     &kp F8   &fs          &yx            &ym    &yjk   &mouse  &wf    &none
&none  &kp F9  &kp F10  &kp F11    &kp F12  &mb          &kp RIGHT_ALT  &none  &po    &of     &none  &none
                        &kp LCTRL  &sf      &as          &none          &none  &none
            >;
        };

        S_4 {
            bindings = <
&none  &kp TILDE    &kp CARET       &kp GRAVE        &kp PERCENT    &wo          &none              &kp RC(HOME)  &kp PAGE_UP       &kp PAGE_DOWN      &kp RC(END)  &none
&none  &kp AT_SIGN  &kp HASH        &kp SLASH        &kp AMPERSAND  &ex          &kp RA(BACKSLASH)  &kp HOME      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp END      &none
&none  &kp PIPE     &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp BACKSLASH  &kp UNDER    &kp RIGHT_ALT      &kp LEFT      &kp UP            &kp DOWN           &kp RIGHT    &none
                                    &yss             &qq            &zj          &none              &none         &none
            >;
        };

        M_3 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&none  &dw               &dui              &cuo              &ax               &ys              &none          &bt BT_SEL 0   &bt BT_SEL 1     &bt BT_SEL 2   &bt BT_SEL 3   &none
&none  &bq               &sj               &bqdw             &zw               &yd              &none          &kp RC(K)      &kp LS(ENTER)    &kp LC(ENTER)  &m1            &none
&none  &kp LC(NUMBER_3)  &kp LC(NUMBER_4)  &kp LC(NUMBER_5)  &kp LC(NUMBER_6)  &kp LC(EQUAL)    &kp RIGHT_ALT  &kp RA(GRAVE)  &kp C_VOLUME_UP  &kp C_VOL_DN   &kp RG(SPACE)  &kp RG(I)
                                           &ts               &jt               &sx              &none          &none          &none
            >;
        };
    };
};
